<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Felipe Munoz</title>
<!-- for flask requirements, we must create all static files (images, css files, etc.) inside a folder called static
and point to those files inside that folder to be able to use them -->
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <table cellspacing="20" id="header">
    <tr>
      <td><img src="static/Felipe.png" alt="foto de perfil de Felipe Muñoz"></td>
      <td><h1><a href="https://www.linkedin.com/in/felipemunozri" target="_blank">Felipe Muñoz</a></h1>
        <p><em>IT professional and current <strong>student of Python.</strong></em></p>
        <p>I want to start a career as a <strong>Python developer</strong> 🐍.</p></td>
    </tr>
  </table>
  <hr>
  <h3>Education</h3>
  <ul>
    <li><a href="https://www.uchile.cl/carreras/4948/ingenieria-en-sonido" target="_blank">Bachelor of Arts [BA] Sound, Universidad de Chile</a></li>
    <li><a href="https://www.aiep.cl/carrera/tecnico-en-programacion-y-analisis-de-sistemas/32/" target="_blank">Computer Programmer Technician, Instituto AIEP</a></li>
  </ul>
  <hr>
  <h3>Work Experience</h3>
  <table cellspacing="10">
    <thead>
      <tr>
        <th>Year</th>
        <th>Occupation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2021-2022</td>
        <td>Systems Administrator at Enexum S.A. Chile</td>
      </tr>
      <tr>
        <td>2011-2019</td>
        <td>Sound engineer and tech assistant at a lot of places. Chile</td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
  <hr>
  <h3>Skills</h3>
  <table cellspacing="10">
    <tr>
      <td>HTML</td>
    </tr>
    <tr>
      <td>CSS</td>
    </tr>
    <tr>
      <td>Javascript</td>
    </tr>
    <tr>
      <td>Python</td>
    </tr>
    <tr>
      <td>SQL</td>
    </tr>
    <tr>
      <td>Linux</td>
    </tr>
    <tr>
      <td>Docker</td>
    </tr>
    <tr>
      <td>Kubernetes</td>
    </tr>
    <tr>
      <td>Jenkins</td>
    </tr>
    <tr>
      <td>AWS</td>
    </tr>
  </table>
</body>
</html>