<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Felipe Munoz</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>

<body>
<div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
        <h1>I'm Felipe.</h1>
        <h2>an aspiring  <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
</div>

<div class="middle-container">
    <div class="profile">
        <img src="static/images/felipe.png" alt="felipe-profile-img">
        <h2>Hello.</h2>
        <p class="intro">I am an aspiring Python Developer 🐍. I  love️ coffee, videogames, Python and playing guitar.</p>
    </div>
    <hr>
    <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
            <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

            <h3>Development</h3>
            <p>I started learning to code when I was 32 years old because previously I worked as a sound engineer 🤘.
                Over time, I have gained some experience with systems administration tasks and writing some simple but
                cool and useful Python scripts.</p>

        </div>
        <div class="skill-row">
            <img class="chilli-img" src="https://i.pinimg.com/originals/22/d8/06/22d806774ff8c72532b248b79d0c2f8a.gif"
                 alt="chillies-img">

            <h3>Playing Guitar</h3>
            <p>I wouldn't say is my best skill, but I love playing guitar. Am I a frustrated musician? Absolutely! But
                that will not stop me from keep playing and enjoying music 😋.</p>

        </div>
    </div>
    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love Python and Music as much as I do.</h3>
        <p class="contact-message">Love how awesome Python is? Let's code while listening some cool riffs!</p>
        <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
</div>


<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/felipemunozri">LinkedIn</a>
    <a class="footer-link" href="https://github.com/felipemunozri">GitHub</a>
    <p class="copyright">© 2023 Felipe Munoz @ 100 Days of Code: The Complete Python Pro Bootcamp.</p>
</div>
</body>

</html>
