<!-- We can inherit from other templates using the extends expression and the name of the template -->
{% extends "base.html" %}

<!-- After extending, we can add content to the blocks defined in the base template. We put the content between the
block markups -->
{% block title %}Success{% endblock %}

<!-- more content -->
{% block content %}
<div class="container">
    <h1>Top Secret </h1>
    <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="480" height="360" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>
</div>
{% endblock %}
